body {
    background-image: url('Pictures/background-image.jpg');
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:#ffd800;
}

li{
    float: left;
}

li a{
    display: block;
    color: darkred;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color:darkred;
     color: white;
}